.bienvenida{
    margin-top: 5vh;
    margin-left: 9vw;
    margin-bottom: 7vh;
    font-family: 'Jost', sans-serif;
    font-size:20px;
}

.primero{
    display: flex;
}

.espacio{
    margin-left: 5vw;
    margin-bottom: 2vh;
}

.espacio2{
    margin-left: 2vw;

}

.html{
    margin-left: 9vw;
    flex-direction: column;
    margin-bottom: 6vh;
}

.slider{
    margin-left: 9vw;
    margin-right: 9vw;
    color: blue;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    font-size:16.5px;
}