.primero{
    display: flex;
}

.espacio{
    margin-left: 5vw;
    margin-bottom: 2vh;
}

.espacio2{
    margin-left: 2vw;

}

.html{
    margin-left: 9vw;
    flex-direction: column;
    margin-bottom: 6vh;
}